<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368276629027-t4gpnt690sf7f0o2g0vet9015159pk4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368276629027-t4gpnt690sf7f0o2g0vet9015159pk4l</string>
	<key>API_KEY</key>
	<string>AIzaSyDmbw6biG5D9LzT1DGqzp2DIZKcncgF2q8</string>
	<key>GCM_SENDER_ID</key>
	<string>368276629027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikhilpolepalli.WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>plantwaterer-4d62b</string>
	<key>STORAGE_BUCKET</key>
	<string>plantwaterer-4d62b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368276629027:ios:3503e8bb56dc7d3847f396</string>
</dict>
</plist>